Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bumpversion.sh
*~
*/*~
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
def
depcomp
doconfig.sh
install-sh
libtool
ltmain.sh
m4/
missing
recomp.sh
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/lasindex
src/lassort
src/lastobam
src/reformatfasta
src/fasta2fastq
stamp-h1
