Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bumpversion.sh
*~
*/*~
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
def
depcomp
doconfig.sh
install-sh
libtool
ltmain.sh
m4/
missing
recomp.sh
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/lasindex
src/lassort
src/lastobam
src/reformatfasta
src/fasta2fastq
stamp-h1
lasroleswap
src/bamtolas
src/blasrtobam
src/call.damapper
src/fasta2DAM
src/lasaligntotracepoints
src/lascat
src/laschainsort
src/lasfilterquality
src/lasmarkprimary
src/lasmerge
src/lascomputetandem
src/lasextracttandemrecompute
src/tandemaligner
src/SLURM.HPC.daligner
src/lasdedup
src/lassubsample
src/lassuffixprefix
src/cocommand
src/commandfollowup
src/commandpack
src/commandstart
src/lasfilterlength
src/lasreduce
src/paftolas

